.row {
  width: 295px;
  height: 68px;
}
.row .pointer {
  top: 32px;
  left: 8px;
}
.row .hint {
  top: -32px;
  left: -8px;
}
.row .arrow {
  top: 24px;
  left: 13px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.row .bar {
  top: 40px;
  left: 18px;
  width: 260px;
  height: 5px;
}
.row .colored {
  height: 100%;
  width: 0;
}
.row .hud {
  position: relative;
  top: 47px;
  height: 16px;
  left: 16px;
  width: 268px;
     -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
}

.column {
  width: 79px;
  height: 284px;
}
.column .pointer {
  background: #e85f3e;
  top: 4px;
  left: 17px;
}
.column .hint {
  background: #e85f3e;
  left: 27px;
  top: -2px;
}
.column .arrow {
  top: 7px;
  left: -4px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.column .bar {
  top: 18px;
  left: 25px;
  width: 5px;
  height: 260px;
}
.column .colored {
  height: 0;
  width: 100%;
}
.column .hud {
  position: absolute;
  top: 15px;
  height: 271px;
  width: 16px;
     -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
}

.slider {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.pointer {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

.hint {
  position: relative;
  width: 35px;
  height: 24px;
  font-size: 12px;
  color: white;
  text-align: center;
  line-height: 24px;
  border-radius: 5px;
  pointer-events: none;

}
.arrow {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}
.value {
  line-height: 24px;
}

.bar {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: #f3f3f3;
}

.hud {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  color: #a7a7a7;
  font-size: 10px;
}